In [4]:
import { DataFrame } from "https://esm.sh/jandas@1.2.2"

const data = [
    {name: "Lem", hunt: 4, gather: 1, meat: 163, apple: 0},
    {name: "Dol", hunt: 1, gather: 1, meat: 38, apple: 0},
    {name: "Heniye", hunt: 2, gather: 3, meat: 75, apple: 0},
]

const df = new DataFrame(
    data
)

console.log(
    df.columns.values,
    df
        .itercols()
        .map(({col, key}) => [key, col.values])
        .toArray(),
)

const render =
<T>
    (df: DataFrame<T>) => `<table>
    <tbody>${df
        .itercols()
        .map(({key, col}) => `<tr>
            <th>${key}</th>
            ${col.values.map(v =>`<td>${v}</td>`).join("\n")}
        </tr>`)
        .toArray()
        .join("\n")
    }</tbody>
</table>`

Deno.jupyter.html`${render(df)}`

[ "name", "hunt", "gather", "meat", "apple" ] [
  [ "name", [ "Lem", "Dol", "Heniye" ] ],
  [ "hunt", [ 4, 1, 2 ] ],
  [ "gather", [ 1, 1, 3 ] ],
  [ "meat", [ 163, 38, 75 ] ],
  [ "apple", [ 0, 0, 0 ] ]
]

name,Lem,Dol,Heniye
hunt,4,1,2
gather,1,1,3
meat,163,38,75
apple,0,0,0